language: cpp
dist: trusty
matrix:
  include:
  - os: linux
    env: PYTHON=2.7
  - os: linux
    env: PYTHON=3.5
  - os: linux
    env: CONDA=2.7
  - os: linux
    env: CONDA=3.6
  - os: osx
    env: PYTHON=2.7
  - os: osx
    env: PYTHON=3.6
  - os: osx
    env: CONDA=2.7
  - os: osx
    env: CONDA=3.6
before_install:
- |
  if [ "$TRAVIS_OS_NAME" = "linux" ]; then export CXX=g++-4.8 CC=gcc-4.8; fi
  if [ -n "$PYTHON" ]; then
    if [ "$TRAVIS_OS_NAME" = "osx" ] && [ "${PYTHON:0:1}" = "3" ]; then
      brew update; brew install python3;
    fi
    pip install --user --upgrade pip virtualenv
    virtualenv -p python$PYTHON venv
    source venv/bin/activate
  elif [ -n "$CONDA" ]; then
    if [ "$TRAVIS_OS_NAME" = "linux" ]; then OS=Linux-x86_64; else OS=MacOSX-x86_64; fi
    wget -O miniconda.sh https://repo.continuum.io/miniconda/Miniconda${CONDA:0:1}-latest-$OS.sh
    bash miniconda.sh -b -p $HOME/miniconda
    export PATH="$HOME/miniconda/bin:$PATH"
    conda config --set always_yes yes --set changeps1 no
    conda config --add channels conda-forge
    conda update -q conda
    conda install -q conda-build
    conda create -q -n test-environment python=$CONDA
    source activate test-environment
  fi
install:
- |
  if [ -n "$PYTHON" ]; then
    pip install numpy pytest codecov pytest-cov
    python setup.py sdist
    pip install --verbose dist/*.tar.gz
  elif [ -n "$CONDA" ]; then
    conda install numpy pytest codecov pytest-cov
    conda build conda.recipe
    conda install --use-local saxpy
  fi

script:
  - py.test tests/* --cov=saxpy

after_success:
  - codecov

#deploy:
#  provider: pypi
#  user: "seninp"
#  password:
#    secure: "ko6k7dTrXb6x53Eipa9nQ1HnewD3SM7jeWw7CYVYWL11xjc5C2+CAv6vNIlD+HfXJbcQtljNUm7SlBDN5GJdBXY5S13/R9gKlqN8N+HZ29d7cBwmYuKaQglKLxpSaAajDHsqc+h/QeDEuvJGRcmdnINxE4MkfJU981/0lbwEPSDtaQaMletQQaBol1BeJKmJDK/kxulPX+2AwCsKS/+o3FMnu+OhwgFjk589dTLmKpuPEpJBpG2ItHe/iWw9qydXE8wSm1wmrSx4A0QcNZOE19iaMxo3GuiQxqMFCtdQcoogxsX4CCxd6MxcjqPvTYHCIZCcRQFak3dLBRqF9wEIL/mz3nQ7ZTXPFNDEFSQD6om5ni9TnqEybMtNYR2QKu4fUhs5dG0y+5HxACyw7nWdLx0Wf6SfxjqpyDfd7rsSmPIUtKjzihgdWPSpESqP0TiYR7btZmue6ympQGcbeTSJ/cHOv+oL+mXhjdU/cRM625vN29ogXG8FwzDXICca4sKtEtXL/utAxF3fEUYkJecAP1p71+99Jhq2h/fbayAjViVe7m7H9fvahkgFT5MLQfiBIVWu6DD2+vnZJoYWbu6fG8HZTRTjfBGVXIiDVusxEKMc77bCJtHkM+McxCmG1gm+gYhiAp44BmidqfryKfaHQi2THfHRs1VpsbBb5FjKjw0="

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always
